.container {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px;
}

.fileInput {
  display: none;
}

.uploadArea {
  background-color: rgba(246, 246, 248, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border: 2px dashed #cbd5e1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &:hover {
    border-color: #4e7fff;
    background-color: #f1f5f9;
  }
}

.uploadIcon {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  color: #64748b;
  background-color: rgba(218, 237, 253, 1);
  border-radius: 8px;
  transition: transform 0.3s ease;

  .uploadArea:hover & {
    transform: translateY(-3px);
    color: #4e7fff;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.replaceIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
  background: rgba(218, 237, 253, 0.7);
  border-radius: 5px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.uploadText {
  color: #64748b;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}